button {
border: none;
background: none;
}

.button {
 border-radius: 10%;
 height: 20px;
 width: 60px;
 position: relative;
}

.pink {
background-color: hotpink;
top: 5px;
position: absolute;
}

.pink:active {
animation-name: slide;
animation-duration: 0.3s;
}

@keyframes slide {
    from {
      top: 5px;
    }
  
    to {
      top: 9px;
    }
  }

.purple {
background-color: rgb(137, 6, 72);
position: absolute;
}