.wrapper {
    height: 100px;
    width: 1400px;
    background-color: black;
    margin-top: 50px;
}

.mainheader {
width: 700px;
font-size: 35px;
color: white;
margin-left: auto;
margin-right: auto;
padding-top: 20px;
animation: neon 10s alternate-reverse infinite;
}

@keyframes neon {  
to {
text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
}